h1 {
    font-family: 'Nexa-bold';
}

h2 {
    font-family: 'Nexa-light';
}

h3 {
    font-family: 'Nexa-regular';
}

p {
    font-family: 'Nexa-light';
}

a {
    text-decoration: none;
    color: #000;
    font-size: 1rem;
    font-family: 'Nexa-light';
    cursor: pointer;
}

a2 {
    text-decoration: none;
    color: #3366BB;
    font-size: 1rem;
    font-family: 'Nexa-light';
    cursor: pointer;
}
.btn-black {
    background-color: var(--black);
    color: #fff;
    border: none;
    border-radius: var(--btnRadius);
    padding: 0.5rem 1rem;
    font-family: 'Nexa-light';
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
  }
  
  .btn {
    background-color: transparent;
    color: #000;
    border: none;
    border-radius: var(--btnRadius);
    padding: 0.5rem 1rem;
    font-family: 'Nexa-light';
    font-size: 0.8rem;
    cursor: pointer;
  }

  .delete-btn {
    background-color: #B73E3E;
    color: #fff;
    border: none;
    width: 20rem;
    border-radius: var(--btnRadius);
    padding: 0.5rem 1rem;
    font-family: 'Nexa-light';
    font-size: 0.8rem;
    cursor: pointer;
    margin-top: 3rem;
  }

  .btn-transparent {
    background-color: transparent;
    color: #000;
    border: 1px solid #000;
    border-radius: var(--btnRadius);
    padding: 0.5rem 1rem;
    font-family: 'Nexa-light';
    font-size: 0.8rem;
    cursor: pointer;
  }

  .btn-transparent2 {
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    border-radius: var(--btnRadius);
    padding: 0.5rem 1rem;
    font-family: 'Nexa-light';
    font-size: 0.8rem;
    cursor: pointer;
  }

    .btn-transparent2:hover {
        background-color: #fff;
        color: #000;
    }

  .btn-transparent:hover {
    background-color: #000;
    color: #fff;
  }