@import url('./components.css');

:root {
  --green-primary: #C3EAD8;
  --black: #1D191F;
  --blue: #EEF2FB;
  --pinky: #F7EBE7;
  --btnRadius: 40px;
}

@font-face {
  font-family: 'Nexa-bold';
  src: url('../assets/webfontkit-20221109-144834/nexa_bold-webfont.woff2') format('woff2')
       
}

@font-face {
  font-family: 'Nexa-light';
  src: url('../assets/webfontkit-20221109-144834/nexa_light-webfont.woff2') format('woff2');
}

@font-face {
  font-family: 'Nexa-regular';
  src: url('../assets/webfontkit-20221109-144834/nexa_regular-webfont.woff2') format('woff2');
}

body {
  margin: 0;
  box-sizing: border-box;
}

.top-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: auto;
  height: 10vh;
  gap: 4rem;
  background-color: var(--green-primary);
}


.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  
}

.nav-logo-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.nav-logo-container h1 {
  font-family: 'Nexa-bold';
  color: var(--black);
  font-size: 32px;
}

.nav-container img {
  width: 70px;
  
}

.nav-link-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 4px;
}

.nav-link-container a {
  text-decoration: none;
  color: #000;
  font-size: 1rem;
  font-family: 'Nexa-light';
  cursor: pointer;
}

.nav-btn-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}


.header-top-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: auto;
   height: 60vh; /*change to auto when media query is added */
  background-color: var(--green-primary);
  flex-wrap: wrap;
}

.header-title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
}

.header-title-container h1 {
  font-family: 'Nexa-bold';
  font-size: 3.375rem;
  color: var(--black);
}


.title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  width: 100%;
  height: 100%;
}


.title-container span {
  font-family: 'Nexa-light';
  font-size: 0.8rem;
  color: var(--black);
  
}

.header-img-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header-img-container img{
  width: 300px;
}

.how-top-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.how-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 2rem;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.how-container img {
  width: 150px;
}

.how-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  background-color: var(--blue);
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.info-top-container {
  width: 100%;
  height: 600px;
}